.exercise {
    box-shadow: 1px 1px 6px 1px #00000044;
    min-height: 200px;
}

.header {
    background-color: var(--blue);
    padding: 0.3rem 1rem;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

