.frontpage_box:not(:global(.calendar)) :global(.link_bar):nth-child(1) {
    border-top: none;
}

.frontpage_box {
    background-color: white;
    max-width: 800px;
    margin: 1rem auto;
    box-shadow: 0px 0px 6px 1px #00000033;
}

.header {
    height: auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.scrollable {
    overflow-y: scroll;
    max-height: 500px;
}
