.Header {
    background-color: var(--blue);
    padding: 0px 15px;
    height: 3rem;
    align-items: center;
}

.Header :is(a, span) {
    color: white;
}

.header_left {
    flex: 1;
    gap: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_right {
    display: flex;
}
