.link_bar {
    padding: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    text-decoration: none;
    color: black;
}

.link_bar_left {
    flex: 1;
    gap: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link_bar_right {
    display: flex;
}
