.popup_window {
    position: fixed;
    top: 5rem;
    left: 25%;
    background-color: white;
    box-shadow: 1px 1px 6px 1px #00000044;
    z-index: 999;
}

.content {
    overflow: scroll;
    resize: both;
    width: 50vw;
    height: 50vh;
    padding: 15px;
    white-space: pre-line;
}

.close_btn {
    color: white;
    background-color: #1465e2;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
    padding: 0;
    border-radius: 50%;
    border: none;
    transition: background-color 0.1s;
}

.close_btn:hover {
    background-color: #5a9bff;
}
