.content {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.description {
    margin: 0 1rem;
}

.coding_area {
    padding: 0.5rem;
    background-color: #f3f3f3;
    border-radius: 0 0 5px 5px;
}

.coding_area_wrapper {
    grid-row: 1 / span 2;

}

.coding_area_header {
    padding: 0.5rem 1rem;
    height: auto;
    border-radius: 5px 5px 0 0;
    background-color: #9f76da;
}

.fontsize_btn {
    background-color: #8d5ec5;
    border-radius: 30%;
    height: 1.2rem;
    width: 1.2rem;
    color: white;
    border: none;
    line-height: 0;
    padding: 0;
    transition: background-color 0.1s;
}

.fontsize_btn:hover {
    background-color: #b888fc;
}

.fontsize_btns {
    display: flex;
    gap: 0.2rem;
}
