.submenu {
    position: relative;
    border: none;
    background: transparent;
}

.button {

}

.dropdown {
    position: absolute;
    background-color: white;
    top: 130%;
    left: 0px;
    box-shadow: 1px 1px 6px 1px #00000044;
}

.item {
    padding: 0.5rem;
    cursor: pointer;
}

.item:hover {
    background-color: #ffe0f0;
}
