.AppHeader {
    background-color: white;
    padding: 1rem 1rem;
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    height: var(--header-bar-height);
    box-shadow: 2px 2px 5px 0px #00000033;
    z-index: 1000;
}

.AppHeader nav {
    justify-content: center;
    display: inline-flex;
    gap: 1rem;
    padding: 0 1rem;
}

.AppHeader a {
    color: black;
}

.logo {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    font-family: "BigSnow";
    line-height: 0;
    display: inline-block;
}

.submenu :global(.button) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--blue-text);
    user-select: none;
}

.submenu :global(.button:hover) {
    color: #5788e7;
}

.submenu :global(.button) .bars {
    font-size: 1.2rem;
}

.submenu :global(.dropdown) {
    top: 190%;
    right: 0;
}
