.lesson_name {
    flex: 1;
}

.lesson_score {
    color: var(--blue-text);
}

.lesson_container, .course_container {
    background-color: white;
}

.lesson_progress, .course_progress {
    padding: 1rem;
}

.lesson_progress meter, .course_progress meter {
    width: 100%;
}
