:root {
    --blue: #2c7efc;
    --blue-text: #2e70d6;
    --header-bar-height: 3.2rem;
}

body {
  margin: 0;
    padding-top: var(--header-bar-height);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cce0ff;
}

@font-face {
    font-family: "Big Snow";
    src: url("../public/BigSnow.ttf")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    cursor: pointer;
}

:global .btn {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 4px 8px;
    font-size: 0.9rem;
}
:global .btn:hover {
    box-shadow: 0px 1px 1px 0px #00000022;
    background-color: #ffe0f0;
    border: 1px solid #b9aabb;
}

header {
    display: flex;
}

:global .react-calendar {
    margin: auto;
}
