.lesson_title {
    text-align: center;
    background-color: var(--blue);
    margin: 0;
    padding: 1rem 0;
    color: white;
}

.lesson_content {
    padding: 1rem;
}

.lesson_text {
    max-width: 1000px;
    margin: auto;
    line-height: 140%;
    font-weight: 300;
    font-size: 1.05rem;
    font-family: "Sans Serif";
}
